/*/------
PATRON DE COLORES
/*/
$texto: #111111;
$principal:#12AFAF;
$secundario:#009500;

html{
	font-size: 15px;
}

body{
	color: $texto;
	font-family: 'Open Sans', sans-serif;
}
.bienvenidos{
	background: url("../images/fondo-encabezado.jpg") no-repeat center top;
	color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado{
	background: $texto;
	color: #fff;
	padding: .5rem 0;
}
.encabezado .container {
	display: flex;
    align-items: center;
        flex-wrap: wrap;
}
.encabezado .logo img {
    width: 150px;
    height: auto;
}
.boton-buscar ,
.boton-menu{	
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus ,
.boton-menu:focus{	
    outline: 0;
}
.boton-buscar{
    margin-left: auto;
    margin-right: .8rem;
}


#bloque-buscar {
    flex: 1 1 100%;
    
}
.contenedor-bloque-buscar{
	display: flex;
    height: 3rem;
    margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}


.contenedor-bloque-buscar input[type="submit"]{
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    padding: 0 1rem;
}
#menu-principal {
    flex: 1 1 100%;
    
}
#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}
 #menu-principal ul a{  
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    text-decoration: none;
}

 #menu-principal ul a:hover {  
   color: $principal;
}

 #menu-principal ul li.active a{  
   color: $principal;
}


.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    
    transition: all .5s ease;
    
}
.texto-encabezado{
	flex: 1 1 auto;
    display: flex;
    align-items: center;
}
 .texto-encabezado .display-4 {
 	margin-top: 4rem;
 }
  .texto-encabezado .btn .display-4 {
 	margin-top: 1rem;
 }
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active:hover {
    background-color: $secundario;
    border-color: transparent;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-animada 2s ease-in-out infinite;
}



@keyframes flecha-animada{
	from{
		transform: translateY(0);
	}
	50%{
		transform: translateY(6px);
	}
	to{
		transform: translateY(0);
	}

}

/*----SECCION AGENCIA
*/

.agencia {
	background: $principal;
	color: #fff;

}
.agencia img{
	width: 80%;
	margin: 0 auto;
	display: block;
}
/*SECCION TU MEJOR ELECCION*/

.tu-mejor-eleccion h2 span{
	color: $principal;


}
.tu-mejor-eleccion ul {
	
	list-style: none;

}
.tu-mejor-eleccion ul li .fa {
    font-size: 2.3rem;
    color: #fff;
    border-radius: 50%;
    background: $secundario;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.5rem;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}
.tu-mejor-eleccion ul li {
    min-height: 9rem;
}

/*SECCION TU Servicios*/

.servicios {
	background: url("../images/fondo-servicios.jpg") no-repeat center center;
	color: #fff;
	background-size: cover;
	background-attachment: fixed !important;
}
.servicios img {
	flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1.5rem;
	
}
.servicios article {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}
.servicios h3 {
	margin: 0;
	font-size: 1rem;
    flex: 1 1 auto;

}
.servicios h3 a{
	color: #fff;
	font-weight: bold;
	display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}


.servicios h3 a::after {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
	position: relative;
	left: 0;
	transition: all .5s ease; 


}
.servicios h3 a:hover::after {
	left: -.5rem;
	opacity: 1;
	color: $principal; 

}
/*SECCION ULTIMOS PROYECTOS*/
.ultimos-proyectos a {
	text-decoration: none;

}
.ultimos-proyectos a  h4{
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: $texto;
}
.ultimos-proyectos .container{
	padding-left: 0;
	padding-right: 0;
	
}
.ultimos-proyectos .owl-nav{
    display: flex;
    justify-content: center;
    margin-top: .5rem 0;
   



}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev,{
	 color: $principal;
    font-size: 3rem;
    margin: 0 .5rem;
    transition: all .5s ease;
    
}
.owl-carousel .owl-nav button.owl-next:hover, 
.owl-carousel .owl-nav button.owl-prev:hover{
	 color: $secundario;
   
    
}

/*SECCION PIE DE PAGINA<*/
.piedepagina {
	background: $texto;
	color: #fff;
	text-align: center;
	font-size: .9rem;

}
.piedepagina .redessociales{
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 0;
	padding:0;
}
.piedepagina .redessociales a{
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	margin:.5rem;
	opacity: .7;
	transition: all .5s ease;
}
.piedepagina .redessociales a:hover{
	opacity: 1;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: $principal;
    font-size: 3rem;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    transition: all .5s ease;
}
.ir-arriba :hover,
.ir-arriba :focus{
    outline: 0;
    text-decoration: none;
    color: #fff;
}

/*SECCION NOSOTROS*/



.paginas-internas .bienvenidos {
    height: 50vh;
    
}
.paginas-internas .ruta{
    background: $principal;
    color: #fff;
    
}
.paginas-internas .ruta a{
    color: #fff;
    text-decoration: underline;
}
.paginas-internas .ruta a:hover{
    text-decoration: none;
}




.servicios{
	margin-bottom: 2rem;
}
.accordion > .card .card-header{
    background: $principal;
}
.accordion > .card .card-header button{
    text-decoration: none;
}
.accordion > .card .card-header:hover{
    background: $secundario;
}

.btn-link {
    color:#fff;
}
.btn-link:hover {
    text-decoration: none;
    
}
.accordion > .card:first-of-type,
.accordion > .card:not(:first-of-type):not(:last-of-type),
.accordion > .card:last-of-type {
    border-radius: 10px 10px 10px 10px;
}
.accordion > .card {
    margin-bottom: 1rem;
}


/*---------------------
SECCION SERVICIOS-------------*/
 .lista-servicios{
 	background: $secundario;
 }

 .lista-servicios .item-servicios{
 	background: #fff;
 	text-align: center;
 	border:5px solid #057705;
 	margin-bottom: 1rem;
 	padding: 1rem;
 }
 .lista-servicios .item-servicios .fa{
 	font-size: 6rem;
 	color: $principal;
 	margin-bottom: 1rem;
 	transition: all 1s ease;
 }
 .lista-servicios .item-servicios:hover .fa{
 	transform: rotateY(360deg);
 	transform-style:preserve-3d; 
 }






/*
	EMPIEZAAN LAS MEDIAS QUERIES
*/

@media(min-width: 768px){
	
	#menu-principal {
    flex: 1 1 100%;
     height: auto !important;
    display: block;
    flex: 0 1 auto;
    order: 1;
    margin-left: auto;

	}
	#menu-principal ul{
      	display: flex;
		margin: 0 0 0 0;
	}
	#menu-principal ul li a{
      	padding: .8rem;
      	text-transform: capitalize;
      	margin: 0 .3rem;
      	border-top: 0px;
      	border-bottom: 4px solid transparent;
	}
	#menu-principal ul li.active a,
	#menu-principal ul li a:hover,{
		color: $principal;
      	border-bottom: 4px solid;
      	transition: all .5s ease;
	}
	.boton-buscar {
    margin-left: 1rem;
    margin-right: .8rem;
    order: 2;
}
	#bloque-buscar {
    flex: 1 1 100%;
    order: 3;
    position: absolute;
    width: 20rem;
    right: 4rem;
    top: 3rem;
    transition: all .5s ease;
   }
   .servicios article {
     	flex-direction: column;
   	    align-items: center;
    	text-align: center;
   }
   .servicios img {
	flex: 0 0 160px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom:  1rem;	
    transition: all 1s ease;
	}

	.servicios article:hover img{
		transform: rotateY(360deg);
		transform-style: preserve-3d; 
	}
	.servicios h3 a::after {
		content: "";
	}
	.servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    flex: 0 1 auto;
    }
    .servicios .btn-outline-secondary {
    margin-top: auto;
	}

	/*-------------
	PAGINA SERVICIOS*/
	.paginas-internas .lista-servicios .col-md-4{
		display: flex;
	}
	.lista-servicios .item-servicios {
    display: flex;
    flex-direction: column;
}
.lista-servicios .item-servicios .btn-primary {
    margin-top: auto;
}
	.btn-outline-secondary {
    color: #ffffff;
    background: $principal;
}

	
}

@media(min-width: 992px){
	
	
	html{
		font-size: 16px;
	}
	.bienvenidos {
    background: url(../images/fondo-encabezado-grande.jpg) no-repeat center top;
    background-size: cover;
    }
	#bloque-buscar {
		right: 8rem;


	}
	.tu-mejor-eleccion ul li .fa {
    text-align: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease;
	}
	.tu-mejor-eleccion ul li:hover .fa {
   		transform: rotateY(360deg);
		transform-style: preserve-3d; 
		background:$principal;
	}
	.tu-mejor-eleccion ul li {
    display: flex;
    min-height: 7rem;
	}
	.contenedor-eleccion{
    flex: 1 0 0px;
	}
	.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem;

	}
	.tu-mejor-eleccion ul:first-child .fa{
	    order: 1;
	    margin-right: 0;
	    margin-left: 1rem;
	}
	.tu-mejor-eleccion ul:second-child  .fa{
	    order: 0;
	}
	.tu-mejor-eleccion ul li p {
      font-size: .85rem;

	}
	
	.servicios {
    background: url(../images/fondo-servicios-grande.jpg) no-repeat center center;
    background-size: cover;
}
.btn-outline-secondary {
    color: #ffffff;
    background: $principal;
}


}










